.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 24px;

  &__button {
    width: 28px;
    height: 28px;
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    border: 1px solid #3483FA;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    border-radius: 4px;

    &.active {
      background-color: #3483FA;
      color: #fff;
    }
  }
}
